name: Python Package

on:
  push:
    paths-ignore:
      - '**/README.md'
      - '.readthedocs.yml'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ['3.9']
        os: [windows-latest, ubuntu-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install -E all -E doc

    - name: Run tests
      run: |
        poetry run pytest

    - name: Run notebooks [Linux]
      if: runner.os == 'Linux' && matrix.python-version == '3.9'
      run: |
        pip install -e '.[all]'
        cd tests && bash check_notebooks.sh

    - name: Build docs [Linux]
      if: runner.os == 'Linux'
      run: |
        pip install myst-parser
        poetry run sphinx-build docs docs/build -b html
